
@{
    ViewData["Title"] = "Create";
}

<h1 >Crear Producto</h1>

<div class="form">
    <form method="post" action="/Producto/Create">
        <div class="form-group">
            <label>Nombre: </label>
            <input name="Nombre" type="text" class="form-control" value="@Model.Nombre" />
           @Html.ValidationMessage("Nombre")

        </div>

        <div class="form-group">
            <label>Cateogiras: </label>
            <select name="IdCategoriaProduct" class="form-control" >
                <option>Selecionar...</option>
                @foreach (var i in ViewBag.Categorias)
                {
                    <option value="@i.IdCategoria">@i.Nombre</option>
                }
            </select>

        </div>
        <div>
            <label>Proveedor</label>
            <input name="Proveedor" type="text" class="form-control" value="@Model.Proveedor" />
            @Html.ValidationMessage("Proveedor")
        </div>

        <div>
            <label>Costo</label>
            <input class="form-control" name="Costo" type="number" value="@Model.Costo" />
            @Html.ValidationMessage("Costo")
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/Producto/Index" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>